<nav class="navbar">
    <ul>
        <li>
            <a href="/" class="logo">
                <img src="/assets/img/logo.png" alt="" />
                <span class="linked-text">Home</span>
            </a>

            </li>
        <li>
            <a href="/recipes">
                <span class="linked-text">Recipes</span>
            </a>
            </li>
        <li>
            <a href="/about">
                <span class="linked-text">About</span>
            </a>
            </li>
        <li>
            <a href="/profile">
                <span class="linked-text">Profile</span>
            </a>
            </li>
    </ul>
</nav>