<nav class="navbar">
    <ul>
        <li>
            <a href="/"></a>
            <img src="../assets/img/logo.png" alt="Food Assistant Logo" class="logo" />
            <span class="link-text">Home</span>
            </li>
        <li>
            <a href="/recipes"></a>
            </li>
        <li>
            <a href="/about"></a>
            </li>
        <li>
            <a href="/contact"></a>
            </li>
    </ul>
</nav>