<nav class="navbar">
    <ul>
        <li>
            <a href="/" class="logo">
                <img src="/assets/img/logo.png" alt="" />
                <span class="nav-item">Home</span>
            </a>

            </li>
        <li>
            <a href="/recipes"></a>
            </li>
        <li>
            <a href="/about"></a>
            </li>
        <li>
            <a href="/profil"></a>
            </li>
    </ul>
</nav>